



{% if user.is_authenticated %}
<a href="{% url 'logout'%}">Logout</a>
<a href="{% url 'create' %}">Create Todo</a>
<p>Hello @{{request.user.username}} </p>
{% else %}
<a href="{% url 'signup'%}">Signup</a>
<a href="{% url 'login' %}">Login</a>
{% endif %}
{% for x in obj %}
{% if request.user.id == x.user %}
<p>{{ x.title }}
{{x.desc}}
{{x.completed}}
{{x.created}}
{{x.user}}


<a href="{% url 'detail' x.slug %}">update</a>
<a href="{% url 'delete' x.slug %}">delete</a></p>
{% endif %}
{% endfor %}


