{% extends "base.html" %}


{% block content %}

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-3">
    {% for x in obj %}
    
      {% if request.user.id == x.user %}
      
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">{{x.title}}</h3>
              <h6 class="card-subtitle mb-2">{{x.created}}</h6>
              <p class="card-text">{{x.desc}}</p>
              <div class="card-footer" style="position: absolute; bottom: 0; left: 0; right: 0; padding: 15px;">
                <a href="{% url 'detail' x.slug %}" class="btn btn-success" style="float: left;">Update</a>
                <a href="{% url 'delete' x.slug %}" class="btn btn-danger" style="float: right;">Delete</a>
              </div>
            </div>
          </div>
        </div>
        
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  .card {
    height: 100%;
    margin-top: 5rem;
    background-color: #087e8b;
    color: #0b3954
  }

  body {
        background-color: #4f6272;
        color: black;
    }

  @media (max-width: 481px) {
    .card {
      height: auto;
    }
  }
</style>

{% endblock content %}

